@import 'custom';
@import "~bootswatch/dist/materia/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/materia/bootswatch";

.hero-box{
	@include top_position(15rem);
	color:white;	
	text-align:center;
	h1{
		font-size:4rem;
	}
}

.container-fluid.empty{
	height:10vh;
}

.signup{
	@include top_position(1rem);
	margin:auto;
	border:1px solid gray;
	border-radius:5px;
	width:50%;
	height:80vh;
	h1{
		@include top_position(2rem);
		text-align:center;
		font-size:1.25rem;
	}
}

#form{
	width:100%;
}

#footer{
	overflow-x:hidden;
	margin-top:2rem;
	color:white;
	height:15rem;
	background-color:black;
}

.right{
	@include top_position(2rem);
    height:10vh;
    width:100%;
	text-align:center;
}